<div
  class="fixed bottom-0 sm:top-0 right-10 flex flex-col sm:flex-row justify-center gap-2 w-full sm:w-[300px] h-fit p-10"
>
  <p
    routerLink="/template/monitor/space"
    class="bg-white/90 text-center hover:bg-white/80 transition-all duration-300 text-dark font-semibold text-lg px-10 py-2 rounded-full w-full"
  >
    SPACE
  </p>
  <p
    routerLink="/template/monitor/plan"
    class="bg-white/90 text-center hover:bg-white/80 transition-all duration-300 text-dark font-semibold text-lg px-10 py-2 rounded-full w-full"
  >
    PLAN
  </p>
</div>
