<app-template [templateStyle]="'text-bg-blackColor '">
  <mat-icon class="text-2xl">arrow_back</mat-icon>
  <p class="text-2xl pl-2 font-medium">Back to platform</p>
</app-template>

<div class="bg-blackColor/5 pt-[100px]">
  <div class="container mx-auto max-w-screen-xl p-3 pb-[200px]">
    <div class="search relative flex items-center w-[400px] py-10">
      <input
        class="focus:outline-blackColor p-1 pl-8 w-full"
        placeholder="Enter tracking number"
        id="search"
        type="text"
      />
      <div
        class="cursor-pointer bg-blackColor text-white font-medium px-10 py-1 rounded-sm ml-3"
      >
        <p>Search</p>
      </div>
      <mat-icon
        class="text-blackColor/60 absolute left-1 top-1/2 -translate-y-1/2"
        >search</mat-icon
      >
    </div>
    <div class="trackingDetails relative">
      <div class="bg-white rounded-md pt-10">
        <div class="flex justify-between">
          <div></div>
          <div class="w-fit absolute right-5 top-3">
            <div class="btn-outline">Export as PDF</div>
          </div>
        </div>
        <!-- mainInfo -->
        <div
          class="mainInfo flex gap-x-2 justify-between py-10 px-10 border-b-[1px] border-blackColor/20"
        >
          <div id="HAWBno">
            <p class="text-blackColor/50 font-medium">HAWB No.</p>
            <p class="text-3xl font-semibold">THI012403610</p>
          </div>
          <div id="HAWBno">
            <p class="text-blackColor/50 font-medium">MAWB No.</p>
            <p class="text-3xl font-semibold">659-50810270</p>
          </div>
          <div id="origin">
            <p class="text-blackColor/50 font-medium">Origin</p>
            <p class="font-medium">TPE <br />TAIPEI, TAIWAN</p>
          </div>
          <div id="destination">
            <p class="text-blackColor/50 font-medium">Destination</p>
            <p class="font-medium">ORD <br />CHICAGO ORD, UNITED STATES</p>
          </div>
        </div>
        <!-- Process -->
        <div class="process px-10 flex py-10">
          @for (item of processList; track $index) {
          <div class="process flex flex-col w-full">
            <div class="iconAnimation flex justify-start items-center">
              <mat-icon
                class="material-symbols-outlined text-trackingPrimary text-[45px]"
                style="height: 50px; width: 60px"
              >
                {{ item.icon }}</mat-icon
              >
              <div class="line bg-trackingPrimary w-full h-[3px]"></div>
              <div class="line bg-blackColor/20 h-[3px]"></div>
            </div>
            <p class="text-blackColor/50 font-medium mb-0">{{ item.name }}</p>
            <p class="mt-0">{{ item.time }}</p>

            @if (item.flight) {

            <p class="text-blackColor/50 font-medium mb-0">Flight No.</p>
            <p class="mt-0">BR0650</p>

            <p class="text-blackColor/50 font-medium mb-0">
              Origin / Destination
            </p>
            <p class="mt-0">TPE / IAH</p>

            } @if(item.image){

            <div
              matRipple
              [matRippleColor]="rippleColor"
              class="btn-outline transition-all max-w-fit"
            >
              View Images
            </div>
            }
          </div>
          }
          <!-- completed -->
          <div class="Completed flex flex-col w-fit">
            <div class="iconAnimation flex items-center">
              <mat-icon
                class="text-trackingPrimary text-[45px]"
                style="height: 50px; width: 50px"
                >task_alt</mat-icon
              >
            </div>
            <p class="text-blackColor/50 font-medium mb-0">Completed</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Other Details -->
    <app-milestones></app-milestones>
    <!-- <button (click)="test()">TEST</button> -->
  </div>
</div>
