<div class="max-w-5xl p-3 mx-auto pt-[100px]">
  <h1>{{ greeting }}</h1>
  <div class="pb-[50px]" [innerHTML]="description"></div>
</div>

<div class="border border-transparent border-b-dark mt-[100px] mb-[50px]"></div>
<div class="max-w-5xl p-3 mx-auto">
  <h1>{{ section1Title }}</h1>
  <div [innerHTML]="section1Description"></div>
  <div class="py-[20px]">
    <div class="imgBox my-3 border border-dark rounded-md h-[200px]">
      <img [src]="section1Img" alt="" />
    </div>
    <div class="content my-3">
      <p class="text-justify font-light leading-relaxed text-dark/80">
        {{ section1Description2 }}
      </p>
    </div>
    <div class="grid grid-cols-3 gap-1 sm:gap-3 md:gap-5">
      <div class="w-full col-span-2 h-[200px] border border-dark rounded-md">
        <img [src]="img1" alt="" />
      </div>
      <div class="w-full h-[200px] border border-dark rounded-md">
        <img [src]="img2" alt="" />
      </div>
      <div class="w-full h-[200px] border border-dark rounded-md">
        <img [src]="img3" alt="" />
      </div>
      <div class="w-full col-span-2 h-[200px] border border-dark rounded-md">
        <img [src]="img4" alt="" />
      </div>
      <div class="w-full h-[200px] border border-dark rounded-md">
        <img [src]="img5" alt="" />
      </div>
      <div class="w-full h-[200px] border border-dark rounded-md">
        <img [src]="img6" alt="" />
      </div>
      <div class="w-full h-[200px] border border-dark rounded-md">
        <img [src]="img7" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="mt-[100px] py-[100px] text-center bg-dark/10">
  <div class="max-w-5xl p-3 mx-auto">
    <h1>{{ section2Title }}</h1>
    <p>{{ section2Description }}</p>
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-x-5 gap-y-10 pt-[50px] md:pt-[100px]"
    >
      <div class="w-full h-[200px] border border-dark rounded-md">
        <img [src]="section2feature1Img" alt="" />
      </div>
      <div class="w-full text-left">
        <h5>{{ section2feature1Title }}</h5>
        <p>
          {{ section2feature1Description }}
        </p>
      </div>
      <div class="order-2 md:order-none w-full text-left">
        <h5>{{ section2feature2Title }}</h5>
        <p>
          {{ section2feature2Description }}
        </p>
      </div>
      <div
        class="order-1 md:order-none w-full h-[200px] border border-dark rounded-md"
      >
        <img [src]="section2feature2Img" alt="" />
      </div>

      <div class="w-full h-[200px] border border-dark rounded-md">
        <img [src]="section2feature3Img" alt="" />
      </div>
      <div class="w-full text-left">
        <h5>{{ section2feature3Img }}</h5>
        <p>
          {{ section2feature3Description }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="py-[100px] text-center">
  <div class="max-w-5xl p-3 mx-auto">
    <h1 class>{{ section3Title }}</h1>
    <p>{{ section3Description }}</p>
  </div>
</div>

<app-form></app-form>
