<div class="bg-white absolute top-0 left-0 w-[100vw] h-[100vh]"></div>
<div
  @showUpAnimation
  class="imgAll absolute overflow-hidden grid grid-cols-3 grid-rows-3 gap-2 w-[100vw] mx-auto h-[100vh]"
>
  <div
    *ngFor="let item of images"
    (click)="enlargeImg(item)"
    @itemAnimation
    [class]="item.span"
    matRipple
    [matRippleColor]="rippleColor"
    [matRippleRadius]="radius"
  >
    <div
      class="imgbox relative w-full h-full bg-secondary/20 overflow-hidden rounded-sm cursor-pointer"
    >
      <div
        class="name text-5xl text-white font-bold opacity-80 absolute top-[20px] left-[20px]"
      >
        {{ item.name }}
      </div>
      <img
        class="object-cover w-full h-full overflow-hidden rounded-sm"
        [src]="item.imgUrl"
        alt=""
      />
    </div>
  </div>
</div>

<div
  *ngIf="isEnlarged"
  @enlargeAnimation
  class="enlarge"
  (click)="closeEnlarged()"
>
  <div class="bg-hover"></div>
  <div
    (click)="$event.stopPropagation()"
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
  >
    <div
      (click)="closeEnlarged()"
      class="closeBtn cursor-pointer opacity-60 drop-shadow-xl absolute top-[5px] right-[5px] z-20"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-20 text-white"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>
    </div>
    <img
      class="overflow-hidden rounded-xl drop-shadow-lg object-fill max-w-[980px] max-h-[1480px]"
      [src]="selectedImage?.imgUrl"
      alt=""
    />
    <div class="text flex flex-col justify-center space-y-5 pt-10">
      <div class="title text-5xl text-white font-bold">
        {{ selectedImage?.name }}
      </div>
      <div class="description text-white text-3xl">
        {{ selectedImage?.descrioption }}
      </div>
    </div>
  </div>
</div>
