<app-template [templateStyle]="'text-black'">
  <mat-icon class="text-2xl">arrow_back</mat-icon>
  <p class="text-2xl pl-2 font-medium">Back to platform</p>
</app-template>
<div class="wrapper h-screen bg-gray-300 flex items-center justify-center">
  <div class="container bg-white p-8 rounded-lg shadow-lg w-fit">
    <h1 class="text-2xl font-bold text-center mb-6 text-nowrap items-center">
      Todo list <span class="text-dark/40 text-xl">with Drag and Drop API</span>
      <span class="text-dark/40"
        ><mat-icon class="text-[18px]">pan_tool</mat-icon></span
      >
    </h1>
    <div class="input flex items-center gap-2 mb-4">
      <input
        [value]="newItem"
        (input)="onInputChange($event)"
        (keyup.enter)="AddItem()"
        type="text"
        [class]="
          isError
            ? 'border-2 border-red-500 placeholder:text-red-500'
            : 'border-gray-300'
        "
        [placeholder]="isError ? 'Invalid value' : 'Add a new item'"
        class="flex-1 px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-0 focus:none"
      />
      <div
        (click)="onChangeColor()"
        [class]="currentColor"
        class="w-6 h-6 rounded-full border border-gray-400 cursor-pointer"
      ></div>
      <button
        (click)="AddItem()"
        class="bg-dark text-white min-w-[40px] min-h-[40px] rounded hover:bg-dark/80 transition"
      >
        <mat-icon class="pt-[3px]">add</mat-icon>
      </button>
    </div>

    <ul class="space-y-2 items-center">
      @for (item of todolist; track $index) {
      <li
        draggable="true"
        (dragstart)="dragStart($event, $index)"
        (drop)="drop($event, $index)"
        (dragover)="dragging($event)"
        [class]="item.color"
        class="flex items-center justify-center px-4 py-2 rounded text-gray-800"
      >
        <div (click)="onToggleComplete($index)" class="cursor-pointer">
          <mat-icon class="text-white pt-1">
            {{ item.completed ? "check_box" : "check_box_outline_blank" }}
          </mat-icon>
        </div>
        <p [class.line-through]="item.completed" class="flex-1 px-2 text-white">
          {{ item.text }}
        </p>
        <div (click)="onRemoveTodo($index)" class="cursor-pointer">
          <mat-icon class="text-white hover:text-white/90 transition-all pt-1"
            >close</mat-icon
          >
        </div>
      </li>
      }
    </ul>
  </div>
</div>
