<div class="otherDetails pt-3">
  <div class="bg-white rounded-md p-10">
    <div class="detail-menu flex justify-between">
      <div class="flex gap-x-2 relative">
        <div class="absolute bottom-[3px] border-b-2 w-full"></div>
        @for (item of menu; track $index+item) {
        <p
          (click)="menuSelected(item, $index)"
          [class]="
            selectedMenu === item
              ? 'border-trackingPrimary'
              : 'border-white text-blackColor/50'
          "
          class="cursor-pointer transition-all font-semibold hover:text-blackColor/90 py-2 px-3 mr-1 border-b-4"
        >
          {{ item }}
        </p>
        }
      </div>
    </div>
    <div class="min-h-[650px]">
      <!-- table: Shipment Details -->
      @if (selectedMenu === 'Shipment Details') { }

      <!-- table: Files -->
      @if (selectedMenu === 'Files') {
      <app-table-template
        [dataSource]="fileDataSource"
        [displayedColumns]="columns"
      ></app-table-template>
      <app-table-template
        [dataSource]="ImgDataSource"
        [displayedColumns]="columns"
      ></app-table-template
      >}
      <!-- table: Milestones -->
      @if (selectedMenu === 'Milestones') {
      <app-table-template
        [dataSource]="milestones"
        [displayedColumns]="milestonesColumns"
      ></app-table-template>
      <app-table-template
        [dataSource]="flights"
        [displayedColumns]="flightsColumns"
      >
      </app-table-template
      >}
    </div>
  </div>
</div>
