<app-template [templateStyle]="'text-dark/90'">
  <mat-icon class="text-2xl">arrow_back</mat-icon>
  <p class="text-2xl pl-2 font-medium">Back to platform</p>
</app-template>

<div
  *ngIf="isShowed"
  class="absolute transition-all drop-shadow-md top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 w-fit text-nowrap"
>
  <p class="text-gray-600 px-10 py-2 rounded-full md:text-3xl text-xl">
    Drag the gutter
  </p>
</div>

<as-split direction="horizontal" gutterSize="10" (click)="destroyed()">
  <!-- left start -->
  <as-split-area [size]="leftSize">
    <div
      class="imgBox top-0 left-0 w-[100vw] h-[100vh] overflow-hidden left-image"
    >
      <img
        class="w-full h-full object-cover"
        src="https://picsum.photos/id/101/600/400"
        alt=""
      />
      <!-- <img src="https://picsum.photos/100/600/400" alt="" /> -->
    </div>
  </as-split-area>
  <!-- left end -->

  <!-- right start -->
  <as-split-area id="rightSplitArea" [size]="rightSize">
    <div
      class="imgBox fixed top-0 left-0 w-[100vw] h-[100vh] overflow-hidden left-image -z-10"
    >
      <img
        class="w-full h-full object-cover"
        src="https://picsum.photos/id/101/600/400?grayscale"
        alt=""
      />
    </div>
  </as-split-area>
  <!-- right end -->
</as-split>
