<div class="p-10">
  <div class="header">
    <div class="imgBox">
      <img
        class="object-contain w-[100px]"
        src="tracking-system/t3ex-logo.svg"
        alt=""
      />
      <h4>Tracking your shipment...</h4>
    </div>
  </div>
  <div class="container max-w-xl mx-auto">
    <div class="content flex justify-between">
      <div class="trackingNum flex flex-col justify-start">
        <h4>Air Cargo Tracking System</h4>
        <p>Tracking...</p>
        <input type="text" class="relative border" />
        <div class="border p-2 w-fit h-fit rounded-full">
          <mat-icon>arrow_forward</mat-icon>
        </div>
      </div>
      <div class="divider bg-black w-[1px] h-[200px]"></div>
      <div class="login">dd</div>
    </div>
  </div>
</div>
