<app-template [templateStyle]="'text-dark'">
  <mat-icon class="text-2xl">arrow_back</mat-icon>
  <p class="text-2xl pl-2 font-medium">Back to platform</p>
</app-template>

<div class="mx-auto max-w-screen-lg pt-[100px] sm:pt-[200px]">
  <div class="flex flex-row gap flex-wrap gap-y-3 justify-center items-center">
    <pre class="font-bold text-3xl text-dark/50 spaced-text monospace-text">
都是WEATHER你</pre
    >

    <div class="w-full text-center">
      <div class="px-2">
        <select
          name="cities"
          class="w-[300px] rounded-md border border-dark/30 p-2"
          [(ngModel)]="selectedLocation"
          ariaLabel="Select an option"
        >
          <option value="" disabled selected hidden>請選擇地區</option>
          <option *ngFor="let item of locations" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>
    </div>
    <button
      class="w-[300px] hover:bg-dark/5 transition-colors border border-dark/30 py-1 px-5 rounded-md"
      (click)="getInfo()"
    >
      <p class="text-dark/80">取得該地區天氣資訊</p>
    </button>
  </div>
</div>

<div class="info">
  <div class="location">OOO</div>
  <div class="grid grid-cols-3 gap-3 mx-auto max-w-screen-lg">
    <div class="border border-red-400 w-full h-[300px]"></div>
    <div class="border border-red-400 w-full h-[300px]"></div>
    <div class="border border-red-400 w-full h-[300px]"></div>

    <div class="pb-[200px]"></div>
  </div>
</div>
