<div class="max-w-5xl p-3 mx-auto">
  <div class="tags flex space-x-2 flex-wrap pb-4">
    <div
      matRipple
      (mouseenter)="mouseService.togglePointer(true)"
      (mouseleave)="mouseService.togglePointer(false)"
      *ngFor="let tag of tagList"
      (click)="selectTag(tag.name)"
      [class]="
        selectedTag === tag.name
          ? 'bg-primary text-white border-primary'
          : ' transition-all hover:bg-dark/10 border-dark/40 text-dark/50'
      "
      class="border transition-all duration-300 rounded-full w-fit px-3 py-1"
    >
      <p>{{ tag.name }}</p>
    </div>
  </div>
  <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3">
    <div
      *ngFor="let item of filteredPlatformList()"
      class="border border-black rounded-lg w-full h-[200px]"
    ></div>
  </div>
</div>
