<app-header></app-header>
<!-- Spinner -->
@if (isLoading) {
<div
  [@fade]="isLoading"
  class="fixed top-0 left-0 w-full h-full bg-[#e8e8e8]/40 flex justify-center items-center z-20"
>
  <app-loadging
    class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-30"
  ></app-loadging>
</div>

}
<!-- content -->
<div class="p-3 mx-auto pt-[100px] max-w-5xl">
  <div class="tags flex space-x-2 flex-wrap justify-center pb-4">
    @for (tag of tagList; track $index) {
    <div
      matRipple
      (mouseenter)="mouseService.togglePointer(true)"
      (mouseleave)="mouseService.togglePointer(false)"
      (click)="selectTag(tag.name)"
      [class]="
        selectedTag === tag.name
          ? 'bg-primary text-white border-primary'
          : ' transition-all sm:hover:bg-dark/10 border-dark/40 text-dark/50'
      "
      class="border mt-2 transition-all duration-300 rounded-full w-fit px-4 py-1"
    >
      <p>{{ tag.name }}</p>
    </div>
    }
  </div>
  <div class="grid gap-5 grid-cols-1 pb-[50px]">
    @for (item of filterCards() ;track item.id; let i = $index) {
    <div
      [@cardAnimation]="cardStates[i]"
      class="rounded-lg w-full h-[350px] sm:h-[450px]"
      (mouseenter)="showHover(i)"
      (mouseleave)="hideHover(i)"
    >
      <div class="imgBox">
        <img
          class="absolute -z-10 object-cover w-full h-full overflow-hidden rounded-lg"
          [src]="item.img"
          alt=""
        />
      </div>

      <div class="content w-full h-full">
        <div class="w-full h-full rounded-lg">
          @if(hoverStates[i]){
          <div
            class="rounded-lg hoverText flex hover:bg-dark/80 transition-all duration-500 p-5 flex-col justify-between h-full"
          >
            <div class="flex flex-col">
              <div class="tagsContainer flex gap-2 flex-wrap">
                @for (tag of item.tags; track $index) {
                <p class="text-white/80 border rounded-full px-3 py-0 w-fit">
                  <span>{{ tag }}</span>
                </p>
                }
              </div>
              <h1 class="text-3xl font-bold text-white/90 pt-5">
                {{ item.name }}
              </h1>
              <p
                class="text-xl pt-3 text-white/70 sm:block hidden"
                [innerHTML]="item.description"
              ></p>
              <div [innerHTML]="item.innerHtml"></div>
            </div>
            <div class="flex justify-between">
              <div></div>
              @if (item.linkto !== '') {
              <button
                (mouseenter)="mouseService.togglePointer(true)"
                (mouseleave)="mouseService.togglePointer(false)"
                mat-ripple
                [routerLink]="item.linkto"
                class="bg-primary text-lg sm:hover:bg-primary/90 flex text-white px-10 py-2 sm:w-fit w-full rounded-full"
              >
                <p class="text-center mx-auto">View work</p>
              </button>
              } @if (item.hyperlink !== '') {
              <a [href]="item.hyperlink" target="_blank">
                <button
                  (mouseenter)="mouseService.togglePointer(true)"
                  (mouseleave)="mouseService.togglePointer(false)"
                  mat-ripple
                  class="bg-primary text-lg sm:hover:bg-primary/90 flex text-white px-10 py-2 sm:w-fit w-full rounded-full"
                >
                  <p>View</p>
                  <mat-icon class="text-base">north_east</mat-icon>
                </button> </a
              >}
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>
