<div class="p-3 mx-auto pt-[100px]">
  <div class="tags flex space-x-2 flex-wrap pb-4">
    <div
      matRipple
      (mouseenter)="mouseService.togglePointer(true)"
      (mouseleave)="mouseService.togglePointer(false)"
      *ngFor="let tag of tagList"
      (click)="selectTag(tag.name)"
      [class]="
        selectedTag === tag.name
          ? 'bg-primary text-white border-primary'
          : ' transition-all hover:bg-dark/10 border-dark/40 text-dark/50'
      "
      class="border transition-all duration-300 rounded-full w-fit px-3 py-1"
    >
      <p>{{ tag.name }}</p>
    </div>
  </div>
  <div class="grid gap-5 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    <div
      *ngFor="let item of filterCards(); let i = index"
      [@cardAnimation]="cardStates[i]"
      class="border border-black rounded-lg w-full h-[350px]"
      (mouseenter)="showHover(i)"
      (mouseleave)="hideHover(i)"
    >
      <div class="imgBox object-cover">
        <img
          class="absolute -z-10 w-full h-full overflow-hidden rounded-lg"
          [src]="item.img"
          alt=""
        />
      </div>

      <div class="content w-full h-full">
        <div class="w-full h-full rounded-lg">
          <div
            class="rounded-lg hoverText p-4 bg-dark/80 flex flex-col justify-between h-full"
            [@hoverAnimation]="hoverStates[i] ? 'hover' : 'default'"
          >
            <div>
              <h1 class="text-2xl font-bold text-white/90">{{ item.name }}</h1>
              <p class="text-sm text-white/70">{{ item.description }}</p>
            </div>
            <div class="flex justify-between">
              <div></div>
              <button
                (mouseenter)="mouseService.togglePointer(true)"
                (mouseleave)="mouseService.togglePointer(false)"
                *ngIf="item.linkto !== ''"
                mat-ripple
                [routerLink]="item.linkto"
                class="bg-primary hover:bg-primary/90 text-white px-10 py-1 rounded-full"
              >
                View
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
